*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;

  display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: end;
  inline-size: 1140px;
  gap: 30px;
  margin: auto;
}

.search-form {
    display: flex;
    justify-content: space-between;
    padding-block-end: 3px;
    
}

.content__list {
    block-size: 298px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.content__details {
    display: flex;
    flex-direction: column;
    justify-content: end;
    inline-size: 399px;
    block-size: 534px;
}

.content__details .title {
    margin-block-end: 23px;
    line-height: 0.92;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 17px;
  position: relative;
}

.result__video {
  object-fit: cover;
  object-position: 0;
  inline-size: 100%;
  block-size: 100%;
}

.content__list-item:not(:last-child) {
  margin-block-end: 34px;
}

.content__video-card {
  display: flex;
  align-items: start;
  inline-size: 394px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  object-fit: cover;
  object-position: 0;
  margin-top: 2px;
  margin-bottom: 2px;
}

.content__video-card-description-container {
  inline-size: 100%;
  block-size: 100%;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  margin-block-end: 5px;
}

.title {
  font-family: Oswald, Arial, sans-serif;
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 0.9;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 2px;
}

.content__video-card-title {
  font-family: Oswald, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1;
  padding-top: 6px;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 1;
  margin-block-start: 7px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.search-form__fieldset {
  border: none;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
  margin-inline-end: 10px;
}

.search-form__textfield {
  appearance: none;
  inline-size: 225px;
  font-family: inherit; 
  color: inherit;
  font-size: inherit;
  background: transparent;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  border-inline: none;
  padding: 2px 0 1px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  margin-right: 1px;
  vertical-align: middle;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  block-size: 17px;
  inline-size: 17px;
  margin-inline-start: 2px;
  margin-block-start: 2px;
  background-color: white;
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

.search-form__label-text {
   padding-block-end: 10px;
}

.button {
  background: transparent;
  font-family: inherit; 
  color: inherit;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 700;
  border: 1px solid currentColor;
  block-size: 34px;
  cursor: pointer;
}

.search-form__submit-button {
  margin-block-start: 17px;
  inline-size: 194px;
}

.more-button {
  inline-size: 100%;
  margin-block: 3px;
  margin-inline-start: 3px;
  margin-inline-end: 3px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

.search-form__checkbox:active ~ .search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  block-size: 13px;
  inline-size: 13px;
  margin-inline-start: 2px;
  margin-block-start: 2px;
  background-color: white;
}

.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
}

.button:focus {
  outline: none;
} 

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

  










